@inherits LayoutComponentBase

<nav class="nav">
    <a href="/">Importador</a>
    <a href="/cruzado">Despivot</a>
    <a href="/template">Campo de template</a>
    <a href="/email">E-mail (componente)</a>
    <a href="/enviar">E-mail (código)</a>
    <a href="/exportar">Exportação</a>
    <a href="/campos">Campos (máscara)</a>
</nav>

<main class="container">
    @Body
</main>
